.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.4);
}

.header {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 140px;
  margin-top: 40px;
  border-top: 1px solid rgb(217, 217, 217);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maxWidth{
  position: fixed;
  padding-left: 10px;
  top: 0px;
  width: 100vw;
  height: 63px;
  background-color: white;
  box-shadow: 0 0 10px #353535;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.topBar{
  position: fixed;
  padding-left: 10px;
  top: 0px;
  width: 100vw;
  height: 61px;
  display: flex;
  background-color: white;
  z-index: 10;
}

.formularioBusqueda{
  size: 20px;
  align-self: center;
  margin: auto auto;
}

.barraBusqueda{
  font-size: 20px;
  width: 150px;
  text-align: left;
  padding-left: 15px;
  border : #353535 solid 1px;
}

.lupaBusqueda{
  font-size: 17px;
  background-color:transparent;
  color: rgba(20, 33, 61,0.8);
  border: none;
  position: relative;
  left: -28px;
  top: -1px;
}

.carrito{
  display: none;
  font-size: 30px;
  position: relative;
  color: rgba(20, 33, 61,0.8);
  top: -20px;
  right: 15px;
  margin-left: 15px;
}

.burgerMenu{
  font-size: 30px;
  position: relative;
  color: rgba(20, 33, 61,0.8);
  top: -20px;
  right: 15px;
  padding: 0 5px;
}

.tituloHome{
  display: block;
  color: rgba(20, 33, 61,0.8);
  position: relative;
  left: -30px;
}

.articulosConteiner{
  width: 290px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(20, 33, 61, 0.7);
  margin-bottom: 30px;
  transition: all 0.1s;
}

.detalleProducto{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #353535;
}
.centrarContenido {
  display: flex;
  flex-direction: column;
  width: 57%;
  align-items: center;
}

.detalleProducto img{
  border-radius: 10px 10px 0 0;
}

.displayContainer{
  display: flex;
  margin-bottom: -4px;
}

.nombreProducto{
  font-weight: bold;
  color: rgba(20, 33, 61, 0.9);
  margin-top: 3px;
  height: 10px;
}

.precioProducto{
  font-weight: bold;
  color: #fca311  ;
}

.enStock{
  color: black;
  padding-left: 15px;
  display: none;
}

.articulosConteiner img{
  border-radius: 10px 0 0 10px ;
}

.paddingLeft{
  text-align: center;
}

.agregarCarrito{
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  color: white;
  background-color: #353535;
  border-radius: 5px;
  font-size: 18px;
  width: 87%;
}

.displayNombre{
  display: flex;
  justify-content: space-around;
}

.categoriaProducto{
  text-align: center;
  font-weight: 700;
  color: rgba(20, 33, 61,0.8);
  margin-top: -5px;
  height: 10px;
}

.tituloDescripcion{
  width: 100%;
  padding-left: 10px;
  font-weight: 800;
  font-size: 25px;
  color: rgba(53, 53, 53,.7);
}

.displayBotones{
  display: flex;
  justify-content: center;
}

.descripcion{
  padding: 0 15px;
  margin-top: -10px;
  max-width: 1200px;
}
.logoFooter{
  cursor: pointer;
}

@media(min-width:480px){
  .topBar{
    padding: 0 20px;
  }
  .barraBusqueda{
      width: 200px;
  }
  .tituloHome{
    margin-left: -150px;
  }
  .articulosConteiner{
    width: 450px;
  }
  .detalleProducto img{
    width: 300px;
  }

  .centrarContenido{
    width: 58%;
  }
  .paddingLeft{
    display: flex;
    justify-content: space-around;
  }
  .precioProducto{
    margin-left: 20px;
  }
  .enStock{
    display: block;
    color:rgba(20, 33, 61, 0.6);
    font-weight: bold;
    text-align: center;
  }
  .tituloDescripcion{
    padding-left: 20px;
  }
  .descripcion{
    padding-left: 25px;
  }
  
}

@media(min-width:679px){
  .tituloHome{
    margin-left: -40%;
  }
  .articulosConteiner img{
    border-radius: 10px 10px 0 0;
  }
  .logo{
    padding-left: 30px;
  }
  .carrito{
    display: block;
  }
  .burgerMenu{
    display: none;
  }
  .main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .detalleProducto{
    width: 80%;
  }
  .displayNombre{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
  }
  .displayNombre .precioProducto{
    font-weight: 600;
  }
  .centrarContenido{
    width: 100%;
  }

  .detalleProducto .categoriaProducto{
    font-size: 20px;
    font-weight: 600;
  }

  .displayDetalle{
    display: flex;
    margin-bottom: -4px;
  }

  .detalleProducto img{
    border-radius: 10px 0 0 10px;
    width: 350px;
  }
  .agregarCarrito{
    cursor: pointer;
    position: relative;
  }
  .articulosConteiner{
    width: 280px;
    margin: 0 40px;
    margin-bottom: 50px;
  }
  .carrito:hover{
    color: rgba(20, 33, 61,0.6);
    cursor: pointer;
  }
  .logo img{
    cursor: pointer;
  }
  
  .articulosConteiner{
    cursor: pointer;
  }
  .articulosConteiner img{
    opacity: 0.95;
  }
  .articulosConteiner img:hover{
    opacity: 1;
  }
  .articulosConteiner img{
    height: 280px;
  }
  .displayDetalle img:hover{
    cursor: zoom-in;
    transform: scale(1.4);
  }
  .articulosConteiner:hover{
    box-shadow: 0 0 15px black;
    transform: scale(1.009);
  }
  .displayContainer{
    display: flex;
    flex-direction: column;
  }
  .displayFlex{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .displayBotones{
    margin-left: 0;
    width: 63%;
  }
  .paddingLeft{
    height: 50px;
    justify-content: space-around;
  }
  .precioProducto{
    margin-left: 15px;
    padding-right: 10px;
  }
  .categoriaProducto{
    padding: 0;
    height: 15px;
    text-align: center;
  }
  .enStock{
    padding: 0;
    height: 20px;
    text-align: center;
  }

}

@media(min-width:992px){
  .barraBusqueda{
    width: 300px;
  }

  .detalleProducto img{
    width: 400px;
  }
  .agregarCarrito:hover{
    color: rgba(217, 217, 217, 0.9);
  }
  .detalleProducto{
    max-width: 800px;
  }
}
@media(min-width:1080px){
  .tituloHome{
    margin-left: -700px;
  }
  .tituloDescripcion{
    padding-left: 60px;
  }
}
@media(min-width:1200px){
  .topBar{
    max-width: 1250px;
  }
  .main{
    max-width: 1300px;
  }
}